# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Build directory
dist/

# Logs
logs
*.log

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
